:root {/*-- Sets color variables --*/
  --prime: rgb(147, 180, 166);
  --text: rgb(255, 255, 255);
  --rev-text: #EEE;
  --bg: #EEE;
}

body{
  margin: 0;
  font-size: 18px;
  color: var(--text);
  background-color: var(--prime);
}
.bodyContent {
  width: 98%;
  margin: 0 auto;
  overflow: hidden;
}
i.fas {
  padding: 0 .33em;
}

hr {
  color: white;
}

/*---------------------------------------- Styles for slideshow ------------------------------------------------------*/
.slideshow {
  background-color: var(--bg);
  padding: 1em;
  border-radius: 30px;
}
.slideshow-wrapper {
  position: relative;
  margin: auto; 
  max-width: 100%; 
}
.slideshow-wrapper img {
  width: 100%;
}
.prev, .next {
  cursor: pointer; 
  position: absolute; 
  top: 50%; 
  width: auto; 
  padding: 16px; 
  margin-top: -22px; 
  color: white; 
  font-size: 45px;
  transition: 0.6s ease; 
  border-radius: 100%;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; 
  background-color: rgb(75, 114, 91);
  margin-left: 20px;
margin-right: 20px;
}
.next {
  right: 0;
  padding-right: 20px;
padding-left: 26px;
}

.prev {
  padding-left: 20px;
padding-right: 26px;
}

.captiontext {
  background: rgba(75, 114, 91, 0.7);
  color: #f2f2f2; 
  font-size: 22px; 
  padding: 8px 12px; 
  position: absolute; 
  bottom: 6px; 
  width: 100%; 
  text-align: center; 
}

.text-center {
  display: flex;
}
.indicator {
  cursor:pointer; 
  height: auto; 
  width: 25%; 
  margin: 0 2px; 
  background-color: var(--bg); 
  display: inline-block; 
  transition: all 250ms ease-in-out;
  opacity: .5;
}
.indicator img {
  width: 100% !important; 
}
.active, .indicator:hover {
  opacity: 1; 
}


/* ------------------------- GRID STYLES ------------------------ */
.main-grid {
  margin-top: 3.5rem;
  display: grid; 
  grid-gap: 1.5rem;
  grid-template-columns: 1fr; 
}
/*-- grid media queries--*/
@media screen and (min-width: 550px) { 
  .bodyContent {width: 96%;}
  .main-grid {grid-template-columns: repeat(2, 1fr);} 
}
@media screen and (min-width: 768px) {
  .bodyContent {width: 94%;}
  .main-grid {grid-template-columns: repeat(3, 1fr);}
}
@media screen and (min-width: 990px) {
  .bodyContent {width: 92%;}
  .main-grid {grid-template-columns: repeat(4, 1fr);} 
}
@media screen and (min-width: 1280px) {
  .bodyContent {width: 90%;}
  .main-grid {grid-template-columns: repeat(4, 1fr);} 
}

/*------------------------- Card Styles -------------------------- */
.main-grid-item {
  border-radius: 35px;  
  padding: .5em;
  background-color: rgb(75, 114, 91);
  box-shadow: 5px 5px 20px #24482f6b;
  margin: 20px;
}
.gallery{
  background-size: cover; 
  background-position: center center;
  border-radius: 100%; 
  width: 100%;
  box-shadow: 10px 10px 15px #24482f6b;
}
.thumb {
  background-size: cover;
  background-position: center center;
  border-radius: 4px 4px 0 0;
}

.card-content {
  padding: 0 .5em .7em .5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-title {
  margin: 1rem 0 0 0;
  text-transform: uppercase;
  color: var(--text);
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 50px;
  text-align: center;
}
.card-text {
  font-size: .80em;
  line-height: 1.5;
  text-align: center;
  color: var(--text);
  font-family: 'Merriweather', serif;
  margin-bottom: 25px;
}

button.card-more {
  background: transparent;
  padding: .45em .7em .4em .7em;
  border-radius: 200px;
  font-size: .7em;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
}
button.card-more, button.card-more:visited {
  color: var(--prime);
  border: 1.5px solid var(--prime);
  transition: all 250ms ease-in-out;
}
button.card-more:hover, button.card-more:active {
  color: var(--accent);
  border-color: var(--accent);
}

/* -------------------- SPINNING BUTTON (LEARN MORE) ---------------------- */

#wrap {
  height: 100%;
}

.btn_wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

.a_button {
  margin: 0 10px;
  padding: 15px 0;
  width: 130px;
  color: #ff7158;
  text-align: center;
  text-decoration: none;
  position: relative;
  transition: .2s ease-in-out;
  background-color: white;
}

a {
  color: var(--prime);
}

a:active {
  background: rgba(255, 255, 255, .5);
} 
.spin {
  border: 1px solid #ff7158;
  overflow: hidden;
  transition: none;
}

.spin:hover {
  transform: rotateX(360deg);
  transition: .8s ease-in-out;
}


/*----------------------------- Modal Styles -----------------------------*/
/* Background */
.modal {
   display: none;
   position: fixed; 
   z-index: 10; 
   left: 0;
   top: 0; 
   width: 100%;
   height: 100%; 
   overflow: auto; 
   background-color: rgba(10, 10, 10, .4);
}
.modal-content {
   background-color: var(--bg);
   color: rgb(75, 114, 91);
   margin: 1rem auto;
   padding: 1em;
   width: 70%;
   border-radius: 35px;
   animation: fadein .3s ease-in-out;
}
@keyframes fadein {
  from{transform:scale(.1);}
}
.closes {
   transition: all .2s ease-in;
   text-shadow: 2px 2px 5px #FAFAFA,
               -2px -2px 5px #FAFAFA,
               2px -2px 5px #FAFAFA,
               -2px 2px 5px #FAFAFA;
}
.closes:hover,
.closes:focus {
   color: var(--accent);
   text-decoration: none;
   cursor: pointer; 
}
.modal-body {
  display: grid;
  grid-template-columns: 1fr; 
  grid-gap: 2em;
}
.eg-text {
  text-align: center;
  font-family: 'Merriweather', serif;
  vertical-align:middle;
  padding: 25%;
  
}
.eg-text h3 {
  margin-top: 0;
  padding-top: 0;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 60px;
}
.modal-body img {
  margin-bottom: 1.5em;
  width: 100%;
  height: auto;
  border-radius: 100%;
  border: rgb(75, 114, 91) 10px;
  border-style: solid;
}
@media screen and (min-width: 1280px) {
  .modal-body {grid-template-columns: 7fr 5fr;}

}

/*--------------------------------- Footer Styles -----------------------------------*/
footer {
  background-color: var(--prime);
  padding: .25rem;
  color: var(--rev-text);
  text-align: center;
}
footer a {
  color: var(--rev-text);
}
footer a:hover {
  color: var(--rev-accent);
}


/* -----------------------------------VERTICAL MEDIA CARD ----------------------------------- */


:root {
  --cardBackground: rgb(75, 114, 91);
}
* {
  box-sizing: border-box;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  border-radius: 25px;
  overflow: hidden;
  text-decoration: none;
  border: grey 2px;
}

.card__image {      
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: calc(var(--curve) * 1px);    
  background-color: var(--surface-color);      
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 1.5em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;    
  background-color: rgb(75, 114, 91);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;      
  z-index: 1;
}

.card__arc path {
  fill: rgb(75, 114, 91);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}       

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;      
  border-radius: 50%;      
}

.card__title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: white;
}

.card__status {
  font-size: .8em;
  color: white;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: white; 
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  background-color: rgb(75, 114, 91);
}    



/*----------------------------------------------NAV MENU HORIZONTAL----------------------------------------*/
a.nav-item:hover {
  color: var(--accent);
  cursor: pointer; 
}

.nav-item.trigram {
  display: none; 
  text-decoration: none; 
  font-size: 2rem; 
}

.wrap_nav1 {
  display: inline-block;
  margin-top: -20px;
  margin-bottom: 20px;
  width: 100%;

  display: flex; 
  flex-direction: column; 
  justify-content: space-around; 
  z-index: 1000;
}

.a_nav1 {
  text-decoration: none;
  color: #fff;
  display: block;
}
.ul_nav1 {
  list-style: none;
  position: relative;
  text-align: left;
  padding-left: 0;
  margin-bottom: 0;
}

.li_nav1  {
  float: left;
}

.ul_nav1:after {
  clear: both;
}

.ul_nav1:before,
.ul_nav1:after {
    content: " ";
    display: table;
}

.nav_nav1 {
  position: relative;
  background: rgb(75, 114, 91);
  text-align: center;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px rgb(34, 62, 46);
}

.ul_nav1.primary .li_nav1 .a_nav1 {
  display: block;
  padding: 20px 30px;
  border-right: 1px solid rgb(34, 62, 46);
}

.ul_nav1.primary .li_nav1:last-child .a_nav1 {
  border-right: none;
}

.ul_nav1.primary .li_nav1 .a_nav1:hover {  
  color: #000;
}

.ul_nav1.sub {
  position: absolute;
  z-index: 200;
  box-shadow: 2px 2px 0 #BEBEBE;
  width: 35%;
  display:none;
}

.ul_nav1.sub .li_nav1 {
  float: none;
  margin: 0;
}

.ul_nav1.sub .li_nav1 .a_nav1 {
  border-bottom: 1px dotted #ccc;
  border-right: none;
  color: #000;
  padding: 15px 30px;
}

.ul_nav1.sub .li_nav1:last-child .a_nav1 {
  border-bottom: none;
}

.ul_nav1.sub .li_nav1 .a_nav1:hover {
  color: #000;
  background: #eeeeee;
}

.ul_nav1.primary .li_nav1:hover .ul_nav1 {
  display: block;
  background: #fff;
}

.ul_nav1.primary .li_nav1:hover .a_nav1 {
  background: #fff;
  color: #666;
  text-shadow: none;
}

.ul_nav1.primary .li_nav1:hover > .a_nav1{
  color: #000;
} 

@media only screen and (max-width: 600px) {
  .decor { padding: 3px;}
  .wrap { width: 100%; margin-top: 0px;}
  li {float: none;}
  ul.primary li:hover a {background: none; color: #8B8B8B; text-shadow: 1px 1px #000;}
  ul.primary li:hover ul {display: block; background: #272727; color: #fff;}
  ul.sub {display: block; position: static; box-shadow: none; width: 100%;}
  ul.sub li a {background: #272727; border: none; color: #8B8B8B;  }
  ul.sub li a:hover {color: #ccc; background: none;}
}

/*-------------- Mobile Nav Queries -----------------------*/
@media screen and (max-width: 767px) {
  .wrap_nav1 a, .wrap_nav1 span {display: none;}
  .wrap_nav1 a.trigram {display:inherit; position:absolute; right:4%; font-size:2em; padding: .25em; background:var(--prime);}
  .wrap_nav1.responsive {align-items: center;} 
  .wrap_nav1.responsive a, .wrap_nav1.responsive span {display:inherit;}
  .wrap_nav1.responsive a:first-child {margin-top:1em;}
  .wrap_nav1.responsive a:not(:last-child) {display:inherit; padding-top:1em;} 
  .wrap_nav1.responsive a.more {margin-bottom: 1em;} 
  .wrap_nav1.responsive a.trigram {visibility:hidden; transition:none;} 
  .wrap_nav1.responsive a.trigram:after {content:'\000D7'; visibility:visible; text-indent: -.5em;}
}

@media screen and (min-width: 768px) {
  .wrap_nav1 {display: flex; flex-direction: column; justify-content: space-between;}
}
